/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$colorLight: #fafafa;
$colorDark: #2c2c2c;
$colorPrimary: #0097a7;

@mixin box-size($width:100%, $height:100%) {
  width: $width;
  height: $height;
}

@mixin flex($direction:row, $break:nowrap, $alignWidth:center, $alignHeight:center) {
  display: flex;
  flex-flow: $direction $break;
  justify-content: $alignWidth;
  align-items: $alignHeight;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



.body-wrapper {
	@include box-size(80%, 50vh);
	@include flex();
	background-color: $colorLight;
	box-shadow: 0 0 45px -15px rgba(0, 0, 0, 0.8);
	border-radius: 30px 0 0 30px;
}

.input-material-design {
	@include box-size(80%, 50px);
	position: relative;
	overflow: hidden;
	
	input {
		@include box-size();
		color: $colorDark;
		background-color: transparent;
		padding-top: 10px;
		border: none;
		outline: none;
		
		&:focus + .input-label .input-content,
		&:valid + .input-label .input-content {
			transform: translatey(-150%);
			font-size: 14px;
			color: $colorPrimary;
		}
		
		&:focus + .input-label::after,
		&:valid + .input-label::after {
			transform: translatex(0);
		}
	}
	
	label {
		@include box-size();
		position: absolute;
		bottom: 0;
		left: 0;
		pointer-events: none;
		border-bottom: solid 1px $colorDark;
		
		.input-content {
			position: absolute;
			bottom: 5px;
			left: 0;
			transition: all 0.3s ease;
		}
		
		&:after {
			@include box-size();
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			border-bottom: solid 1px $colorPrimary;
			transform: translatex(-101%);
			transition: all 0.3s ease;
		}
	}
}


i.material-icons {
		font-size: 1.5rem;
		color: white;
		position: relative;
		border-radius: 10%;
		padding: 5px;
		margin: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
		content: "";
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 10%;
		transition: all 0.3s ease;
}

i.material-icons:hover:after {
		transform: scale(1);
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
		background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
		color: #88b999;
}

i.material-icons:nth-of-type(4):after {
		border-color: #88b999;
}

i.material-icons:nth-of-type(5) {
		background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
		color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
		border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
		background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
		color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
		border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
		background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
		color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
		border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
		background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
		color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
		border-color: #d59acb;
}

i.material-icons:nth-of-type(1) {
		background-color: #cd8484;
}

i.material-icons:nth-of-type(1):hover {
		color: #cd8484;
}

i.material-icons:nth-of-type(1):after {
		border-color: #cd8484;
}

i.material-icons:nth-of-type(2) {
		background-color: #ec9f83;
}

i.material-icons:nth-of-type(2):hover {
		color: #ec9f83;
}

i.material-icons:nth-of-type(2):after {
		border-color: #ec9f83;
}

i.material-icons:nth-of-type(3) {
		background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
		color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
		border-color: #cdb274;
}

i.material-icons:hover {
		background-color: transparent;
		transform: rotate(90deg);
		cursor: pointer;
		box-shadow: none;
}

p {
		color: #999;
		font-weight: 300;
		margin-top: 20px;
}

@media (min-width:601px) {
	i.material-icons {
		padding:10px;
		margin:5px;
		font-size:2rem;
	}
}

@media (min-width:993px) {
	i.material-icons {
		padding:20px;
		margin:10px;
		font-size:4rem;
	}
	i.material-icons:after {
		border-width:3px;
		top:-3px;
		left:-3px;
	}
}




.card--neumorphic {
  padding-top: 10px;
  max-width: 380px;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.26),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.55);
}

.card--neumorphic {
  padding: 1.5em 1.5em 2em;
}

.card--neumorphic img {
  border-radius: 40px;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.card--material {
  background: #eaeaea;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.card--material div {
  padding: 1.5em 1.5em 2em;
}

.layout > div {
  padding-bottom: 3em;
}

@media screen and (min-width: 900px) {
  body {
    padding: 3em 2em;
  }

  .layout > div {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .layout {
    display: flex;
    justify-content: center;
  }
}
// This is just to center the spinner

html, body { height: 100%; }

body {
   display: flex;
   align-items: center;
   justify-content: center;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}