<ion-header>
  <ion-toolbar>
    <ion-title>avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="layout">
  <div>
    <div class="card--material">
      <img src="https://via.placeholder.com/400x250/b7c6c8" />
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed elementum massa. Nam molestie porttitor
        erat,
        a sodales augue. Vestibulum malesuada risus ut euismod
        condimentum.
      </div>
    </div>
  </div>
  <div>
    <div class="card--neumorphic">
      <img src="https://via.placeholder.com/380x220/b7c6c8" />
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed elementum massa. Nam molestie porttitor
        erat,
        a sodales augue. Vestibulum malesuada risus ut euismod
        condimentum.
      </div>
    </div>
  </div>
</div>
<h1>Rotating Icon Buttons</h1>
<div class="main-wrapper">
  <i class="material-icons">search</i>

</div>
<p>CodePen by Cole Waldrip</p>

</ion-content>
