 ion-icon {
color :var( --ion-text-color)!important;
padding-right: 20px;
padding-top: 10px;
 }
.logintitulo {
    color : #00251a!important;
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}
.abajo {
     padding-top: 40px;
}
.logo  {
    width: 48%;
    height: 48%;

}
ion-button {
    color : whitesmoke!important;
    padding-bottom: 15px;
}
.links {
    padding-left :15px!important;
    color : #00251a;
}
.app-r-perro1 {
     width: 48%!important;
    height: 48%!important;
}