<ion-header>
  <ion-toolbar>
    <ion-title>lista-mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<section class="body-wrapper">
  <article class="input-material-design">
    <input type="text" name="name" autocomplete="off" required>
    <label for="name" class="input-label">
      <span class="input-content">Name</span>
    </label>
  </article>
</section>

<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
  <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>

</ion-content>
