 ion-icon {
color :var( --ion-text-color)!important;
padding-right: 20px;
padding-top: 10px;
 }
.logintitulo {
    color : #00251a!important;
    text-align: center;
    font-size: 25px;
    padding-bottom: 40px;
}
.abajo {
     padding-top: 40px;
}

ion-button {
    color : whitesmoke!important;
    padding-bottom: 15px;
}
.links {
    padding-left :15px!important;
    color : #00251a;
}
.rutas {
    top: 200px;
}
ion-segment{
    padding-top: 50px!important;
}
.card--neumorphic {
     
 
}